.checkout-btn{
    background-color: #0d6efd;
    color: #fff;
    font-size: 18px;
    transition: 0.7s;
}
.checkout-btn:hover{
    border-radius: 50px 0 50px 0;
    background-color: rgb(21, 255, 0);
}